.input-control {
  margin-bottom: 20px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--main-bg-color);
  font-size: 20px;
  line-height: 26px;
}

.input-control input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--main-bg-color);
  font-size: 20px;
  line-height: 26px;
}
