<h2>{{title}}</h2>

<form class="form form_auth">

	<div class="injectedInputs">

	</div>

	<div class="injectedBtnSubmit">

	</div>

	{{!-- <button type="submit" class="btn btn_submit">Авторизоваться</button> --}}

</form>
