<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Auth</title>
	<link rel="stylesheet" href="../../scss/global.scss">
</head>
<body>

	<div class="container">
		<div class="auth">
			<h2>Вход</h2>
			<form>
				<div class="input-control shadow-input">
					<div class="input-label">логин</div>
					<input type="text">
				</div>

				<div class="input-control shadow-input">
					<div class="input-label">пароль</div>
					<input type="password">
				</div>

				<button class="submit">авторизоваться</button>
				<a href="../registration/registration.hbs" class="link">Нет аккаунта?</a>
			</form>
		</div>
	</div>


</body>
</html>
