<div class="chat_container">
  <div class="chat-list">
    <div class="search">
      <form>
        <label>
          <input type="text" placeholder="поиск">
        </label>
      </form>

    </div>
    <div>
      <form>
        <label class="search-form">
          {{{chatTitle}}}
        </label>
        {{{createButton}}}
      </form>
    </div>
    {{{chatList}}}

  </div>
  <div class="chat">
    <div class="header">
      <img src={{avatarSrc}} alt="avatar">
      <div class="chat-about">
        <div class="chat-with">Чат с выбранным другом</div>
        <div class="amount-messages">У вас 2 сообщения</div>
      </div>
    </div>

    <div class="body">
      <ul>
        <li class="special-fix">
          <div class="message-data align-right">
            <span class="message-data-time">дата</span>
            <span class="message-data-name">Отправитель</span>

          </div>
          <div class="message your-message float-right">
            Как вообще работает история чата? здесь будет результат инпута?
          </div>
        </li>

        <li>
          <div class="message-data">
            <span class="message-data-name">Твой друг</span>
            <span class="message-data-time">дата</span>
          </div>
          <div class="message my-message">
            а сюда соответственно то, что мне придет с даты сервака?
          </div>
        </li>
      </ul>
    </div>

    <div>
      <form class="footer">
        <input name="message" type="text" class="input-message">
        <button class="send-button">отправить</button>
      </form>
    </div>

  </div>
</div>


