<div class="chat_container">
  <div class="chat-list">
    <div class="search">
      <form>
        <label>
          <input type="text" placeholder="поиск">
        </label>
      </form>

    </div>
    <div>
      <form>
        <label class="search-form">
          {{{chatTitle}}}
        </label>
        {{{createButton}}}
      </form>
    </div>

    {{{chatList}}}

  </div>

  {{{chatCurrent}}}
</div>


