.profile {
	height: auto;
	max-width: 350px;
	width: 100%;
	border: var(--main-bg-color);
	border-radius: 12px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	background-color: white;
}

.form-profile {
	padding: 10px;
	width: 100%;
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	gap: 2em;
	color: white;
	margin-bottom: 2em;
}

.form-profile__item {
	padding: 0.5em 0;
}

.form-profile__item-info,
.form-profile__input-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.form-profile__input-wrapper {
	display: none;
}

.form-profile__item_active .form-profile__input-wrapper {
	display: flex;
}

.form-profile__item_active .form-profile__item-info {
	display: none;
}
