<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Profile</title>
	<link rel="stylesheet" href="../../scss/global.scss">
</head>
<body>

<div class="container">
	<div class="profile">
		<img src="https://cdn-icons-png.flaticon.com/512/483/483361.png" class="avatar">

		<form class="form form-profile">

			<div class="form-profile__item" data-type="form-item">

				<div class="form-profile__item-info" data-type="form-item-info">
					<div class="form-profile__item-info-text" data-type="form-item-info-text">First_name</div>
					<button type="button" class="form-profile__item-info-btn btn" data-type="form-item-info-btn">Edit</button>
				</div>

				<div class="form-profile__input-wrapper shadow-input" data-type="form-profile-input-wrapper">
					<input type="text" class="form-profile__input" data-type="form-profile-input">
					<button type="button" class="form-profile__input-btn btn" data-type="form-profile-input-btn">Save</button>
				</div>


				<div class="form-profile__item-info" data-type="form-item-info">
					<div class="form-profile__item-info-text" data-type="form-item-info-text">Second_name</div>
					<button type="button" class="form-profile__item-info-btn btn" data-type="form-item-info-btn">Edit</button>
				</div>

				<div class="form-profile__input-wrapper shadow-input" data-type="form-profile-input-wrapper">
					<input type="text" class="form-profile__input" data-type="form-profile-input">
					<button type="button" class="form-profile__input-btn btn" data-type="form-profile-input-btn">Save</button>
				</div>


				<div class="form-profile__item-info" data-type="form-item-info">
					<div class="form-profile__item-info-text" data-type="form-item-info-text">Display_name</div>
					<button type="button" class="form-profile__item-info-btn btn" data-type="form-item-info-btn">Edit</button>
				</div>

				<div class="form-profile__input-wrapper shadow-input" data-type="form-profile-input-wrapper">
					<input type="text" class="form-profile__input" data-type="form-profile-input">
					<button type="button" class="form-profile__input-btn btn" data-type="form-profile-input-btn">Save</button>
				</div>


				<div class="form-profile__item-info" data-type="form-item-info">
					<div class="form-profile__item-info-text" data-type="form-item-info-text">Email</div>
					<button type="button" class="form-profile__item-info-btn btn" data-type="form-item-info-btn">Edit</button>
				</div>

				<div class="form-profile__input-wrapper shadow-input" data-type="form-profile-input-wrapper">
					<input type="text" class="form-profile__input" data-type="form-profile-input">
					<button type="button" class="form-profile__input-btn btn" data-type="form-profile-input-btn">Save</button>
				</div>


				<div class="form-profile__item-info" data-type="form-item-info">
					<div class="form-profile__item-info-text" data-type="form-item-info-text">Phone</div>
					<button type="button" class="form-profile__item-info-btn btn" data-type="form-item-info-btn">Edit</button>
				</div>

				<div class="form-profile__input-wrapper shadow-input" data-type="form-profile-input-wrapper">
					<input type="text" class="form-profile__input" data-type="form-profile-input">
					<button type="button" class="form-profile__input-btn btn" data-type="form-profile-input-btn">Save</button>
				</div>


				<div class="form-profile__item-info" data-type="form-item-info">
					<div class="form-profile__item-info-text" data-type="form-item-info-text">Login</div>
					<button type="button" class="form-profile__item-info-btn btn" data-type="form-item-info-btn">Edit</button>
				</div>

				<div class="form-profile__input-wrapper shadow-input" data-type="form-profile-input-wrapper">
					<input type="text" class="form-profile__input" data-type="form-profile-input">
					<button type="button" class="form-profile__input-btn btn" data-type="form-profile-input-btn">Save</button>
				</div>
			</div> <!-- .form-profile__item -->
		</form> <!-- .form-profile -->
	</div> <!-- .profile -->
</div> <!-- .container -->


	<script src="profile.js"></script>

</body>
</html>
