<li class="chat-list-item">
  <img src={{avatarSrc}} alt="avatar"/>
  <div class="about">
    <div class="name">{{this.title}}</div>
    <div class="status">
      {{unread_count}} непрочитанных
    </div>
  </div>
</li>