<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Registrarion</title>
	<link rel="stylesheet" href="../../scss/global.scss">
</head>
<body>

<div class="container">
	<div class="registration">
		<h2>Регистрация</h2>
		<form>
			<div class="input-control shadow-input">
				<div class="input-label">Имя</div>
				<input type="text">
			</div>
			<div class="input-control shadow-input">
				<div class="input-label">Фамилия</div>
				<input type="text">
			</div>
			<div class="input-control shadow-input">
				<div class="input-label">логин</div>
				<input type="text">
			</div>
			<div class="input-control shadow-input">
				<div class="input-label">почтовый адрес</div>
				<input type="text">
			</div>
			<div class="input-control shadow-input">
				<div class="input-label">номер телефона</div>
				<input type="number">
			</div>
			<div class="input-control shadow-input">
				<div class="input-label">пароль</div>
				<input type="password">
			</div>
			<button class="submit">зарегистрироваться</button>
		</form>
	</div>
</div>


</body>
</html>
