.registration {
  border: 1px solid var(--main-bg-color);
  box-shadow: 0 10px 16px gray;
  border-radius: 10px;
  padding: 30px;
  width: 30%;
  min-width: 400px;
}

.style-string {
  min-width: border-box;
}
