<div class="container">
  <div class="registration">
    <h2>Данные пользователя</h2>
    <div>{{{oldPassword}}}</div>
    <div>{{{newPassword}}}</div>
    {{{cancelButton}}}
    {{{saveButton}}}
  </div>
</div>
