<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Viber2.0</title>
	<link rel="stylesheet" href="../scss/global.scss">
</head>
<body>

<nav class="navigation"><a href="auth/auth.hbs">войти</a> | <a href="registration/registration.hbs">регистрация</a> | <a
	href="profile/profile.hbs">профиль</a> | <a href="chat/chat.hbs">чат</a></nav>
<div class="hide">| <a href="./404.hbs">404</a> | <a href="./500.hbs">505</a></div>


</body>
</html>
